body{
    padding: 100px;
}
.submit_area{
            margin-top: 50px;
            border-radius: 15px;
            box-shadow: 7px 7px 40px orange;
            padding: 50px;
            display: block;
}
#transaction-area{
    display: none;
}