body{
    padding: 100px;
}
.submit_area{
            margin-top: 50px;
            border-radius: 15px;
            box-shadow: 7px 7px 40px orange;
            padding: 50px;
            display: block;
}
#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
    
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0px 20px;
    color: palegoldenrod;
    padding: 25px;
    color: papayawhip;
    padding: 20px;
    border-radius: 20px;
}
